@font-face {
    font-family: 'Fonte Naruto';
    src: url(fonts/njnaruto.ttf);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Fonte Naruto";
    background-color: black;
    color: white;
}

nav > a {
    padding-top: 10px;
   
}

nav > h1 {
    text-align: center;
}

